################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/HowToDevelop.Core/bin/Debug/netcoreapp3.1
/src/HowToDevelop.Core/obj
/src/HowToDevelop.HealthFood.Models/bin/Debug/netcoreapp3.1
/src/HowToDevelop.HealthFood.Models/obj
/tests/HowToDevelop.Dominio.Tests/bin/Debug/netcoreapp3.1
/tests/HowToDevelop.Dominio.Tests/obj
/src/HowToDevelop.HealthFood.WebApp/bin/Debug/netcoreapp3.1
/src/HowToDevelop.HealthFood.WebApp/obj
/bin/Debug
/obj
/src/HowToDevelop.HealthFood.WebApp/node_modules
/Passo a passo aulas.txt
